<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="arm">

<link name="world"/>

<link name="base_link">

    <visual>
        <origin
            xyz="-0.04035 0.09275 -0.10300"
            rpy="1.5708 0 0"/>

        <geometry>
            <mesh filename="package://arm_description/meshes/base.stl"
                  scale="0.001 0.001 0.001"/>
        </geometry>

        <material name="white">
            <color rgba="1 1 1 1"/>
        </material>
    </visual>


    <collision>
        <origin
            xyz="-0.04035 0.09275 -0.10300"
            rpy="1.5708 0 0"/>

        <geometry>
            <mesh filename="package://arm_description/meshes/base.stl"
                  scale="0.001 0.001 0.001"/>
        </geometry>
    </collision>


    <inertial>
        <mass value="1.0"/>
        <origin xyz="0 0 0"/>
        <inertia
            ixx="0.01"
            ixy="0"
            ixz="0"
            iyy="0.01"
            iyz="0"
            izz="0.01"/>
    </inertial>

</link>


<joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>

    <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>


<link name="central_axis_link">

    <visual>

        <origin
            xyz="-0.04035 0.09275 -0.10300"
            rpy="1.5708 0 0"/>

        <geometry>
            <mesh filename="package://arm_description/meshes/central_axis.stl"
                  scale="0.001 0.001 0.001"/>
        </geometry>

        <material name="white">
            <color rgba="1 1 1 1"/>
        </material>

    </visual>

    <collision>

        <origin
            xyz="-0.04035 0.09275 -0.10300"
            rpy="1.5708 0 0"/>

        <geometry>
            <mesh filename="package://arm_description/meshes/central_axis.stl"
                  scale="0.001 0.001 0.001"/>
        </geometry>

    </collision>

</link>


<joint name="central_axis_joint" type="revolute">

    <parent link="base_link"/>
    <child link="central_axis_link"/>

    <origin xyz="0 0 0"
            rpy="0 0 0"/>

    <axis xyz="0 0 1"/>

    <limit
        lower="-2.6"
        upper="-.4"
        effort="2"
        velocity="5"/>

</joint>


<link name="shoulder_link">

    <visual>
         <origin
            xyz="-0.02885 0.09287 -0.16145"
            rpy="1.5708 0 0"/>

        <geometry>
            <mesh filename="package://arm_description/meshes/shoulder.stl"
                  scale="0.001 0.001 0.001"/>
        </geometry>

        <material name="white">
            <color rgba="1 1 1 1"/>
        </material>

    </visual>


    <collision>
         <origin
            xyz="-0.02885 0.09287 -0.16145"
            rpy="1.5708 0 0"/>

        <geometry>
            <mesh filename="package://arm_description/meshes/shoulder.stl"
                  scale="0.001 0.001 0.001"/>
        </geometry>

    </collision>

</link>


<joint name="shoulder_joint" type="revolute">

    <parent link="central_axis_link"/>
    <child link="shoulder_link"/>

    <origin xyz="-0.01150 0 0.05845"
            rpy="0 0 0"/>

    <axis xyz="0 1 0"/>

    <limit
        lower="-2"
        upper="1"
        effort="2"
        velocity="5"/>

</joint>


<link name="elbow_link">

    <visual>
        <origin
            xyz="-0.03110 0.09267 -0.28350"
            rpy="1.5708 0 0"/>

        <geometry>
            <mesh filename="package://arm_description/meshes/elbow.stl"
                  scale="0.001 0.001 0.001"/>
        </geometry>

        <material name="white">
            <color rgba="1 1 1 1"/>
        </material>

    </visual>


    <collision>
        <origin
            xyz="-0.03110 0.09267 -0.28350"
            rpy="1.5708 0 0"/>


        <geometry>
            <mesh filename="package://arm_description/meshes/elbow.stl"
                  scale="0.001 0.001 0.001"/>
        </geometry>

    </collision>

</link>


<joint name="elbow_joint" type="revolute">

    <parent link="shoulder_link"/>
    <child link="elbow_link"/>

    <origin xyz="0.00225 0 0.12205"
            rpy="0 0 0"/>
    
    <axis xyz="0 1 0"/>

    <limit
        lower="-.4"
        upper="2.6"
        effort="2"
        velocity="5"/>

</joint>


<link name="wrist_link">

    <visual>
        <origin
            xyz="0.059395 0.10537 -0.302995"
            rpy="1.5708 0 0"/>

        <geometry>
            <mesh filename="package://arm_description/meshes/wrist.stl"
                  scale="0.001 0.001 0.001"/>
        </geometry>

        <material name="black">
            <color rgba="0 0 0 1"/>
        </material>

    </visual>


    <collision>
        <origin
            xyz="0.059395 0.10537 -0.302995"
            rpy="1.5708 0 0"/>

        <geometry>
            <mesh filename="package://arm_description/meshes/wrist.stl"
                  scale="0.001 0.001 0.001"/>
        </geometry>

    </collision>

</link>


<joint name="wrist_joint" type="revolute">

    <parent link="elbow_link"/>
    <child link="wrist_link"/>

    <origin xyz="-0.090495 -0.01270 0.019495"
            rpy="0 0 0"/>

    <axis xyz="1 0 0"/>

    <limit
        lower="-2.6"
        upper="-.4"
        effort="2"
        velocity="5"/>

</joint>

<link name="gripper1_link">

    <visual>
        <origin
            xyz="-0.11823 0.01750 -0.03923"
            rpy="1.5708 0 0"/>

        <geometry>
            <mesh filename="package://arm_description/meshes/gripper.stl"
                  scale="0.001 0.001 0.001"/>
        </geometry>

        <material name="white">
            <color rgba="1 1 1 1"/>
        </material>

    </visual>


    <collision>
        <origin
            xyz="-0.11823 0.01750 -0.03923"
            rpy="1.5708 0 0"/>

        <geometry>
            <mesh filename="package://arm_description/meshes/gripper.stl"
                  scale="0.001 0.001 0.001"/>
        </geometry>

    </collision>

</link>


<joint name="gripper1_joint" type="revolute">

    <parent link="wrist_link"/>
    <child link="gripper1_link"/>

    <origin xyz="-0.026525 0.013365 0.005365"
            rpy="1.5708 0 0"/>

    <axis xyz="0 0 1"/>

    <limit
        lower="-2"
        upper="1"
        effort="2"
        velocity="5"/>

</joint>


<link name="gripper2_link"/>

<joint name="gripper2_joint" type="revolute">

    <parent link="gripper1_link"/>
    <child link="gripper2_link"/>

    <origin xyz="-0.012505 0.017492 -0.027285"
            rpy="0 0 0"/>

    <axis xyz="1 0 0"/>

    <limit lower="0"
           upper="1.57"
           effort="2"
           velocity="5"/>

</joint>
</robot>